.popup__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  background: #E6E8EB;
  width:358px;
  height:64px;
  margin-top:39px;
}