@import url(./__date/date.css);
@import url(./__description/description.css);
@import url(./__icon/icon.css);
@import url(./__image/image.css);
@import url(./__title/title.css);
@import url(./__text/text.css);
@import url(./__source/source.css);
@import url(./__categories/categories.css);

.result-card {
  position:relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}