.footer__link {
  color: #1A1B22;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin:0;
  text-align: center;
}

.footer__link_main {
  width:112px;
  margin-left: auto;
}

.footer__link_YP {
  width:192px;
}

.footer__link_GH {
  margin-left:42px;
}

.footer__link_FB {
  margin:0 106px 0 28px;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .footer__link_main {
    width:88px;
    margin-left: auto;
  }

  .footer__link_YP {
    width:176px;
  }

  .footer__link_GH {
    margin-left:26px;
  }

  .footer__link_FB {
    margin:0 40px 0 28px;
  }
}

@media screen and (min-width:320px) and (max-width:767px) {
  .footer__link {
    margin: 0;
    text-align: left;
  }
  .footer__link_main {
    width:200px;
    order: 1;
  }

  .footer__link_YP {
    width:200px;
    order: 4;
    margin: 23px 0 38px;
  }

  .footer__link_GH {
    margin-left: 17px;
    order: 2;
  }

  .footer__link_FB {
    margin-left: 27px;
    order: 3;
  }
}