@import url(./__button/button.css);
@import url(./__description/description.css);
@import url(./__form/form.css);
@import url(./__input/input.css);
@import url(./__title/title.css);

.search {
  display:flex;
  flex-direction: column;
  width: 50%;
  color:#FFFFFF;
  padding-top: 80px;
  margin: 0 auto;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .search {
    max-width:452px;
    padding-top: 38px;
  }
}