@import url(./__about/about.css);
@import url(./__description/description.css);
@import url(./__image/image.css);
@import url(./__title/title.css);

.autor {
  width:100%;
  display:flex;
  position: relative;
}