@import url(./__circle-preloader/circle-preloader.css);
@import url(./__searching/searching.css);
@import url(./__text/text.css);
@import url(./__nothing/nothing.css);

.result {
  position: relative;
  min-height: 282px;
  background: #F5F6F7;
  display:grid;
}