.header__menu {
  position: relative;
  display:flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
  color: #B6BCBF;

}

.header__menu-main_black, .header__menu-articles_black {
  color:#1A1B22;
}

.header__menu-main, .header__menu-articles {
  display: block;
  height: 80px;
  line-height: 80px;
}

.header__menu_active {
  border-bottom: 3px solid #FFFFFF;
  color:#FFFFFF;
  margin-right: 34px;
}

.header__menu_active-black {
  margin-left: 34px;
  border-bottom: 3px solid #1A1B22;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .header__menu {
    font-size: 16px;
  }
  .header__menu-articles {
    margin-left: 16px;
  }
}