.header__menu {
  position: relative;
  display:flex;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
  color: #B6BCBF;
}

.header__menu-main_black, .header__menu-articles_black {
  color:#1A1B22;
}

.header__menu-main, .header__menu-articles {
  display: flex;
  height: 80px;
  align-items: center;
}

.header__menu_active {
  color:#FFFFFF;
  margin-right: 34px;
  border-bottom: 3px solid #FFFFFF;
}

.header__menu_active-black {
  margin-left: 34px;
  border-bottom: 3px solid #1A1B22;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .header__menu {
    font-size: 16px;
    line-height: 24px;
  }
  .header__menu-articles {
    margin-left: 16px;
  }
  .header__menu_active {
    margin-right: 0px;
  }
  .header__menu-main, .header__menu-articles {
    height: 66px;
  }
}

@media screen and (min-width:320px) and (max-width:767px) {
  .header__menu {
    display: none;
  }
  .header__menu-main, .header__menu-articles {
    margin: 0;
    height: 56px;
    margin-left: 16px;
    color:#FFFFFF;
  }
  .header__menu_active {
    margin-top: 16px;
    border-bottom: none;
  }
  .header__menu::after {
    display: block;
    width: 100%;
    position: absolute;
    top: -56px;
    left: 0;
    background: #1A1B22;
  }
}