.header__menu {
  display:flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
  color:#FFFFFF;
}

a {
  display: block;
  height: 100%;
}

a {
  display: block;
  margin-left: 34px;
}

a:hover {
  border: 10x solid#FFFFFF;
}