.result__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  background: #FFFFFF;
  border-radius: 80px;
  width: 288px;
  height: 64px;
  margin: 0 auto;
}

.result__button:hover {
  background: #FFFFFF;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .result__button {
    width: 240px;
    height: 56px;
    margin: 0 auto;
  }
}