@import url(./__title/title.css);
@import url(./__menu/menu.css);
@import url(./__button/button.css);

.header {
  display: flex;
  border-bottom: 1px solid #E5E5E5;
  color: #ffffff;
}

.header_black {
  color: #1A1B22;
}